body{
	background:  #f1f5f8 url(../img/bg.png) center 0 no-repeat
}
.content{
	height: 540px;
	width: 1366px;
	
}
.reg_login_box{
	
	height: 500px;
	width: 380px;
	text-align: right;
	margin-top: 10px;
}
#input_tip{
	text-align: center;
	padding-bottom: 10px;
	margin-top:10px;
	color: red;
}

.accordion_section{
	text-align: left;
}

.reg_login_box input,fieldset{
	border-radius:5px;
	height: 36px;
	margin-bottom: 20px;
	margin-right: 10px;
}
.reg_login_box fieldset{
	margin-right: 68px;
	text-align: center;
}

fieldset select {
      width: 120px;
}

input[type="submit"]{
	width: 196px;
	background: #80C3F7;
}
.login_box{
	height: 100%;
	width: 100%;
}

.reg_box{
	height: 100%;
	width: 100%;
}